.bucket-div-style{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 10px;
}

.outside-bucket {
    margin: 10px;
    border: 2px solid;
}

.bucket-style {
    border: 1px solid;
}

.winner-style {
    font-size: 50;
    text-align: center;
    text-decoration: wavy;

}